Language: Cpp
Standard: Cpp11
BasedOnStyle: Google

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentWidth: 2
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PointerAlignment: Left
SpacesBeforeTrailingComments: 0
TabWidth: 2
UseTab: Always

PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 100000
PenaltyBreakBeforeFirstCallParameter: 10000000
